boleto.peraltacobrancas.com.br {
    @block_server_actions header Next-Action *
    respond @block_server_actions 403

    handle /media/* {
        root * /peralta
        file_server
    }

    handle /api/* {
        reverse_proxy back:8000
    }

    handle {
        reverse_proxy front:3000
    }

    log {
        output file /log/boleto-access.log {
            roll_size 10MiB
            roll_keep 5
            roll_keep_for 720h
        }
        format console
    }
}