services:
  back:
    build:
      context: ./back
      dockerfile: Dockerfile
    env_file:
      - ./back/.env
  front:
    build:
      context: ./front
      dockerfile: Dockerfile
    env_file:
      - ./front/.env

  caddy:
    container_name: caddy
    image: caddy
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./caddy-config:/config
      - ./caddy-data:/data
      - ./Caddyfile:/etc/caddy/Caddyfile